<p id="notice"><%= notice %></p>

<div class="row" style="text-align: left">
  <% if @reviews.first.account.android? %>
    <i class="fa fa-android fa-4x" style="color:#A4C639" aria-hidden="true"></i>
  <% elsif @reviews.first.account.twitter? %>
    <i class="fa fa-twitter fa-4x" style="color:#0084b4" aria-hidden="true"></i>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @reviews.first.account.name %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= @reviews.first.account.uid %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= @reviews.first.account.keywords %>
  </p>

</div>
</br>
<!-- <div class="row"> -->

  <table class="table table-bordered">
    <thead>
      <tr>
        <!-- <th>Title</th> -->
        <th class="col-md-8">Review</th>
        <th class="col-md-2">Rating</th>
        <th class="col-md-2">Author</th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <%= link_to review do %>
            <!-- <td><%= review.title %></td> -->
            <td><%= review.description %></td>
            <td>
              <div class="row" style="text-align: center">
                <% (1..review.rating.to_i).each do |r| %>
                  <i class="fa fa-star" style="color:#ffd11c"></i>
                <% end %>
              </div>
            </td>
            <td><%= review.author %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<!-- </div> -->
