<p id="notice"><%= notice %></p>

<h1>Accounts</h1>
  <% @accounts.each do |account| %>

      <div class="row">
        <% if account.android? %>
          <i class="fa fa-android fa-4x" style="color:#A4C639" aria-hidden="true"></i>
        <% elsif account.twitter? %>
          <i class="fa fa-twitter fa-4x" style="color:#0084b4" aria-hidden="true"></i>
        <% end %>

        <%= account.name %>
        <%= account.uid %>
        <%= account.keywords %>
        <%= account.kind %>
      </div>
  <% end %>

<br>

<%= link_to 'New Account', new_account_path %>
