<p id="notice"><%= notice %></p>
<% if @account.android? %>
  <i class="fa fa-android fa-4x" style="color:#A4C639" aria-hidden="true"></i>
<% elsif @account.twitter? %>
  <i class="fa fa-twitter fa-4x" style="color:#0084b4" aria-hidden="true"></i>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @account.uid %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @account.keywords %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
