<p id="notice"><%= notice %></p>
<% if @account.android? %>
  <i class="fa fa-android fa-4x" style="color:#A4C639" aria-hidden="true"></i>
<% elsif @account.twitter? %>
  <i class="fa fa-twitter fa-4x" style="color:#0084b4" aria-hidden="true"></i>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @account.uid %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @account.keywords %>
</p>
<%= link_to 'Sync Reviews', sync_reviews_account_path(@account) %> |
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
</br>

</br>
</br>
<%= line_chart @chart_data, ytitle: 'rating' %>
</br>
</br>
</br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <!-- <th>Title</th> -->
        <th class="col-md-8">Review</th>
        <th class="col-md-2">Rating/Sentiment</th>
        <th class="col-md-2">Author</th>
      </tr>
    </thead>

    <tbody>
      <% @account.reviews.each do |review| %>
        <tr>
          <%= link_to review do %>
            <!-- <td><%= review.title %></td> -->
            <td><%= review.description %></td>
            <td>
             <% if @account.android? %>
                <div class="row" style="text-align: center">
                  <% (1..review.rating.to_i).each do |r| %>
                    <i class="fa fa-star" style="color:#ffd11c"></i>
                  <% end %>
                </div>
              <% else %>
                <%= review.sentiment.to_f.round(2) %>
              <% end %>
            </td>
            <td><%= review.author %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
